{% extends "layout.html" %} {% block body %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <a href="#"><h5 class="card-title d-flex justify-content-center">
                  Patients
                </h5></a>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person-wheelchair"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Doctors
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Payments
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-credit-card-2-back"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Prescription
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-file-text-fill"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Reports
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-clipboard2-pulse"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Medical Store
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-capsule"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Blood Bank
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-droplet-fill"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">Beds</h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-truck-flatbed"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Patients
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Death Reports
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-dash-circle"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Child Birth
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-github"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Sales Card -->
          <div class="col-6 w-10">
            <div class="card info-card sales-card d-flex align-items-center">
              <div
                class="card-body justify-content-center flex-column flex-column-reverse align-items-center d-flex"
              >
                <h5 class="card-title d-flex justify-content-center">
                  Oprations
                </h5>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="card-icon rounded-circle mt-5 d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-list"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>

{% endblock %}
